* {
  box-sizing: border-box;
}
h1, h4{
  margin: 0;
  padding: 0;
}
.layout{
  width: 80%;
  margin: 0 auto;
}
body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 15px;
  text-align: center;
  background: #1abc9c;
  color: #fff;
}
.header h1{ 
  margin: 0;
  padding: 0;
}
.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 80%;
  background-color: #f1f1f1;
  padding: 20px;
}
.row{
  display: flex;
}
.card{
  flex-basis: 25%;
  max-width: 25%;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
}
.card-img {
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 15px;
}
.card-img img {
  max-width: 100%;
  margin: 0 auto;
}

.card-content {
  display: block;
}

.card-content h1{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #000;
}

.card-content h4{
  font-size: 15px;
  margin-bottom: 5px;
  color: #000;
}

.card-content h1 span,
.card-content h4 span{
  display: inline;
  font-weight: normal;
  color: #4b56ee;
}
/* .card-content h4 span i{
  display: inline-block;
} */

.filter-list{
  margin: 0;
  padding: 0;
  text-align: center;
}

.filter-list li {
  display: inline-block;
  list-style: none;
  width: 40%;
  margin-bottom: 15px;
  margin-right: 10%;
}


.filter-list li button {
  width: 100%;
  background-color: #1abc9c;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 12px;
  border: none;
}

.filter-list li button:focus{
  background-color: #a3eedf;
  color: #000;
}

@media (max-width: 991px) {
  .side {
    flex: 30%;
  }
  .main {
    flex: 70%;
  }
  .layout{
    width: 100%;
  }
  .row {
    display: flex;
    /* flex-direction: column; */
  }
  .card{
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (max-width: 500px) {

  .row {
    flex-direction: column;
  }
  .card{
    flex-basis: 100%;
    max-width: 100%;
  }
}
